.jfx-combo-box {
    /*-fx-border-color: #9e9e9e;*/
    /*-fx-border-width: 0.8;*/
    /*-fx-border-style: solid;*/
    /*-fx-border-radius: 5;*/
    -fx-background-color: #f5f5f5;
}

.jfx-combo-box .list-cell {
    /*-fx-min-height: 42;*/
    /*-fx-max-height: 42;*/

    /*-fx-wrap-text: true;*/
    /*-fx-word-wrap: break-word;*/


    /*-fx-pref-width: 120;*/
    /*-fx-max-width: 80 !important;*/
    -fx-text-fill: black;

    /*-fx-border-radius: 5;*/
    /*-fx-background-radius: 5;*/
}

.jfx-combo-box .list-cell:hover {
    -fx-background-color: #f5f5f5;

}

.jfx-combo-box .list-view {
    -fx-padding: 0 0 5 0;
    -fx-border-radius: 0 0 5 5;
    -fx-background-radius: 0 0 5 5;
    -fx-background-color: white;
}
