/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@font-face {
    font-family: Roboto;
    src: url("../font/roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto Medium";
    src: url("../font/roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: "Roboto Light";
    src: url("../font/roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto Bold";
    src: url("../font/roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: "HK Grotesk SemiBold";
    src: url("../font/hkgrotesk/hkgrotesk-semibold.ttf");
}

/* NOTE: the file font must be included as the 1st css file in order to work */
