
.jfx-combo-box {
    -fx-background-color: white;
}

.jfx-combo-box .list-cell {
    -fx-text-fill: black;
}

.jfx-combo-box .list-cell:hover {
    -fx-background-color: #f5f5f5;
}

.jfx-combo-box .list-view {
    -fx-padding: 0 0 5 0;
    -fx-border-radius: 0 0 5 5;
    -fx-background-radius: 0 0 5 5;
    -fx-background-color: white;
}
